*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.App{
    width: 80%;
    margin: 0 auto;
    .error{
        margin: 30px 10px;
    }
    .loader{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        margin-top: 80px;
        margin-bottom: 80px;
    }
    .logocontainer{
        display: flex;
        flex-direction: column-reverse;
        margin: 0 auto;
        padding: 0;
        align-items: center;
        justify-content: center;

        .logoimg{
            img{
                width: 380px;
            }
        }

        .logotext{
            font-size: 1rem;
        }
    }

    .searchcontainer{
        width: 100%;
        margin: 10px auto;
        display: flex;
        align-items: center;
        justify-content: center;
          input{
                width: 350px;
                height: 40px;
                padding: 10px;
                border: 1px solid #000;

                &:focus{
                    outline: 1px solid rgb(46, 46, 255);
                    border: 1px solid rgb(46, 46, 255);
                }
            }
        .searchicon{
            padding: 5px;
            width: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            background-color: rgb(46, 46, 255);
          
            img{
                width: 20px;
            }

            &:hover{
                cursor: pointer;
            }
        }
    }

    .results{
        margin: 50px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        .Item{
            margin: 25px 0;
            width: 48%;
            padding: 10px;
            .word{
                h3{
                    font-size: 1.5rem;
                    font-weight: 800;
                    color: rgb(46, 46, 255);
                }
            }
            .author{
                color: #2e2eff;
                font-weight: 800;
                h4{
                    display: flex;
                    p{
                        margin-right: 5px;
                        color: #000;
                        font-size: 16px;
                    }
                }
            }
            .definition{
                p{
                    font-size: 16px;
                    font-weight: 600;
                    margin-bottom: 25px;
                }
            }
            .examples{
                margin-bottom: 15px;
            }
            .Likes{
                display: flex;
                 justify-content: space-between;
                 width: 95%;
                 p{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                     img{
                        width: 25px;
                        margin-right: 5px;
                     }
                     span{
                         font-weight: 800;
                     }
                 }
                 margin-top: 10px;
            }
        }
    }

    .title{
        text-align: center;
        font-weight: 800;
    }
}
.footer{
    border-top: 1px solid #000;
    padding: 20px;
    width: 100%;
    margin-top: 80px;
    h4{
        text-align: center;
        font-size: 1.4rem;
    }
}

@media(max-width: 900px){
    .App{
        width: 90%;
        .loader{
            margin-top: 200px;
            margin-bottom: 150px;
        }
        .logocontainer{
            flex-direction: row;
            margin-top: 50px;
            .logoimg{
                img{
                    width: 70px;
                }
            }
            .logotext{
                font-size: .7rem;
            }
        }
        .searchcontainer{
            input{
                width: 380px;
            }
        }
        .results{
            width: 95%;
            .Item{
                padding: 0;
                width: 100%;
                border-bottom: 1px solid #000;
                padding-bottom: 20px;
            }
        }
    }
}